/* these all apply to the body element -> global rules */

* {
    border: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

.hidden { display: none; }

html, body { height: 100% }

body { 
  font-family: sans-serif;
  background-color: rgb(2, 66, 63);
  color: white);
}

/* main header rules */
header {
    background-image: url('../image/header_image.jpeg');
    background-size: cover;
    background-color: rgb(12, 139, 132);
    background-position: center;
    position: sticky;
    top: 0;
    text-align: center;
}

#main-logo { 
    width: 400px;
    padding: 40px;
    margin-top: 100px;
}


/* main rules here */
#character_nav {
    text-align: center;
    background-color: rgb(12, 139, 132);

    background-image: url('../image/lightbox_cover.jpeg');
    background-repeat: no-repeat;
    background-size: cover;

    background-blend-mode: multiply;

    padding-top: 40px;
    padding-bottom: 40px;
}

.characters { list-style-type: none; }

.characters li { 
    position: relative;
    display: inline-block;
    height: 400px;
    margin: 10px 2px;

    background-color: black;

    text-align: left;
    cursor: pointer;
}

.characters li h5 {
    position: relative;
    color: white;
    padding: 20px 12px;

    z-index: 500;
}

.characters li a { text-decoration: none; }

.blue_bumper {
    width: 100%;
    height: 7px;
    background-color: blue;

    transition: height 0.2s ease;

    position: absolute;
}

.characters li:hover .blue_bumper { height: 75px; }

article { padding: 20px; color: white; }

/* select the h3 tag inside the article tag on the page */
/* a selector followed by a space and then ANOTHER selector gets a reference to the parent element and then the child element or elements inside of it */
article h3  {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 14px;
}

/* select the p tag inside the article tag on the page */
article p {
    width: 80%;
    font-size: 17px;
    line-height: 1.2;
    text-align: center;
    margin: 0 auto;
}

.sprite {
    width: 320px;
    height: 325px;
    
    background-image: url('../image/decision_sprite_resize.jpg');
}

#tangwai { background-position: -320px 0; }

.sprite:hover { background-position-y: -325px !important; }

/* footer rules here */
footer {
    color: white;
    padding: 20px 0;
    text-align: center;
}

.sticky_footer {
    position: sticky;
    top: 100%;

    height: 80px;
    background-color: rgb(40, 37, 37);
}

/* lightbox rules here */

.lightbox { 
    width: 100vw; /* vw = viewport width => screen width */
    height: 100vh; /* vh = viewport height => screen height */

    position: absolute;
    top: 0;
    left: 0;

    background-color: rgba(101, 204, 185, 0.85);
    background-image: url('../image/haeil_lb.png');
    background-repeat: no-repeat;

    background-size: 50vh; /* 55% of the viewport height */
    background-position: 40px bottom;

    z-index: 5000;

    display: none;
}

#lightbox2 { background-image: url('../image/tangwai_lb2.png'); }

.lightbox_close {
    position: relative;
    top: 20px;
    left: 90%;

    color: rgb(24, 1, 119);
    font-size: 2em;

    text-decoration: none;   
}

.lightbox_close:hover { 
    opacity: 0.5; 
    color: red;
    font-weight: bolder; 
}

.lightbox article {
    width: 45%;
    margin-left: 45%;
    padding-top: 50px;
}

.lb_text, .lb_heading { 
    text-align: left; 
    color: black;
}

.lb_text {
    line-height: 1.6 !important;
    margin-left: 0;
    padding-top: 2em;
}

/* turn the lightbox on using the :target pseudo selector */
.lightbox:target { display: block; }